.app{
    text-align: center;
   
}
.app__logo{
    margin-top: -25px;
    width: 300px;
    object-fit: contain;
}
.app__form{
    width: 100%;
  
   
 
    position: fixed;
    padding: 10px;
    z-index: 1;
  margin: 20px ;
  background-color: rgb(231, 227, 227);
    bottom: 0;
}
.form{
  display: flex !important;
  flex-direction: row !important;
  padding:3px 20px !important;
  margin: 5px !important;
 
}
.form__input{
  flex: 1 !important;
}
.iconButton{
  flex: 0 !important;
}